
#nav-link{
    background-color: black;  
    font-size: small;  
    color: white;
}

.nav{
display: inline;
margin:0;
font-size: 15px;
color:white;
display:flex; justify-content:left ; flex-direction:row;
align-items: flex-start;
}

.btn_right{ 
  position: absolute; 
  top: 10px; 
  right: 10px; 
} 
.navbar{
font-size: 1ch;
color:black
}
  
  

  main{
    width: 60%;
    float: left;
    height:100%
 }

side{
    width: 30%;
    float: right;
    height:100%
}

#btn{
  color: blue;
  border-color: blue;
}

#btn1{
  background-color: blue;
  color: white;
}

#btn3{
  background-color: blue;
  color: white;
}

#btn4{
  color: blue;
}

#dollarsign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -78%);
}
  
#landind_middle1{
  background-color: blue;
  padding-top: 20px;
  color: black;
  border-color: grey;
  border-width: 5px;
}

#landind_middle{
  padding-top: 20px;
}
  
