main{
    width: 50%;
    position: absolute
    float: left;
    height: 100%;
  }  

side{
    width: 30%;
    float: right;
    height: 100%;
    position: relative;
}

#Header-Slide{
  flex-wrap: wrap;
}

.body-paragrap {
  text-align: center;
}

.blue-slide{
  float: left;
}

.blue-card{
  display:flex; justify-content:right ; 
  flex-direction:row;
  align-items: flex-start; 
  height:max-content;
}

